<br />
	<h2>Title:</h2>
	<%= @post.title %>
	<h2>Body:</h2>
	<%= @post.body %>
	<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>

    <strong><%= @post.user.username %>:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <p>
  <% if current_user == @post.user %>
  <button><%= link_to 'Delete Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></button> <% end %>
</p>
<% end %>

	<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
