<!DOCTYPE html>
<html>
  <head>
    <title>My Rails Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body { font-family: sans-serif; }
    </style>
  </head>

  <body>
    <div id="homebar">
    <a href="/"><button id="homeb">Home</button></a>
    <% if current_user %>
      <button id="homeb"><%= link_to "Profile", current_user %></button>
        <button id="homeb"><%= link_to "Logout", sessions_path, method: :delete %></button>
    <% end %>
    <h2 id="homeM">Rails Blog</h2>
    </div>
      <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <br />
  <% if current_user %>
    logged in as <%= current_user.username %><br />
    <% else %>
      <fieldset>
        <legend>Log In</legend>
        <%= form_tag sessions_path do%>
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email] %>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
          <%= submit_tag "Sign in" %>
        <% end %>
      </fieldset>
      <br />
  <% end %>
  <% if !current_user %>
  New? <%= link_to "Create User", new_user_path %> here!<br />
  <% end %>
    <%= yield %>
  </body>
</html>
